$white__text: hsl(0, 0%, 100%);
$light__white: rgb(236, 235, 235);
$grayish-blue__footer-text: hsl(240, 2%, 79%);
$very-dark-grayish-blue__body-copy: hsl(207, 13%, 34%);
$very-dark-black-blue__footer-background: hsl(240, 10%, 16%);
$heading-color: rgb(48, 71, 90);
$background-gradient-mobile-nav: linear-gradient(to bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
$background-gradient-desktop-nav: linear-gradient(to right, hsl(13, 100%, 72%) , hsl(353, 100%, 62%) 130%);
$background-gradient-body: linear-gradient(to right, hsl(237, 17%, 21%), hsl(237, 23%, 32%));
$heading-font-family: 'overpass', sans-serif;
$body-font-family: 'ubuntu', sans-serif;
$button-orange-font: rgb(249, 95, 95);
$button-hover-background-color: rgb(253, 124, 134, 1);
$first-break-point: 800px;
$second-break-point-intro: 1100px;
$third-break-point-intro: 1300px;
$large-screen-break-point: 1700px;